/*
 Theme Name:   Chambé-Carnet
 Theme URI:    https://github.com/Chambe-Carnet/chambecarnet
 Description:  Thème basé sur le thème Twenty Sixteen
 Author:       Chambé-Carnet
 Author URI:   http://example.com
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  chambecarnet
*/



@font-face {
    font-family: 'blanchcaps';
    src: url('typos/blanch_caps-webfont.eot');
    src: url('typos/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('typos/blanch_caps-webfont.woff2') format('woff2'),
         url('typos/blanch_caps-webfont.woff') format('woff'),
         url('typos/blanch_caps-webfont.ttf') format('truetype'),
         url('typos/blanch_caps-webfont.svg#blanchcaps') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*------------------------------------------------------------------------------------------------------------*/
/*
	= RESET
*/
/*------------------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background:#f3f3eb;
	font-family: 'Open Sans', sans-serif;
	font-size:62.5%; /*ensuite 1em=10px en taille normale*/
	color:#4c4c4c;
}
h1{
	margin:0;
	border: none;
    font-family: 'blanchcaps';
    font-weight:normal;
	letter-spacing:normal;
}
h2, h3, h4, h5, h6{
	margin:0;
	border: none;
    font-family: 'blanchcaps';
    font-weight:normal;
	letter-spacing:normal;
}
ul{
	margin:0;
    padding:0;
	list-style-image:none;
	list-style-type:none;
    line-height:1.3em;
}
img{
	border:none;
}
a, a:link{
	text-decoration:none;
	color:#000;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
a:visited{
	text-decoration:none;
	color:#0A4563;
}
a:hover, a:focus{
	text-decoration:underline;
	color:#0A4563;
}
input,
textarea{
	font-family: 'Open Sans', sans-serif;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{
	background-color:#fff;
}

/*------------------------------------------------------------------------------------------------------------
	== STYLE DU THEME PARENT
------------------------------------------------------------------------------------------------------------*/
body:not(.custom-background-image)::before,
body:not(.custom-background-image)::after{
	height:auto;
}
#page{
	margin:0;
	background:none;
}
.logged-in #page{
	margin:32px 0 0;
}
.site-inner{
	max-width:none;
}
.widget{
	padding:0;
	border:none;
	font-size:1em;
	line-height:1;
}


/*------------------------------------------------------------------------------------------------------------*/
/*
	= HEADER
*/
/*------------------------------------------------------------------------------------------------------------*/
header.site-header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:200;
	padding:10px 65px;
	background:#4c4c4c;
}
.logged-in header.site-header{
	top:32px;
}

header.site-header *{
	margin:0;
}

/*------------------------------------------------------------------------------------------------------------
	== TITRE / LOGO
------------------------------------------------------------------------------------------------------------*/
.site-branding h1,
.site-branding p{
	display:none;
}
.header-image a img{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/*------------------------------------------------------------------------------------------------------------
	== MENU NAVIGATION
------------------------------------------------------------------------------------------------------------*/
#site-header-menu{
	position:absolute;
	top:0;
	right:65px;
	bottom:0;
	text-align:right;
}
#site-header-menu *{
	height:100%
}
#site-header-menu ul li{
	position:relative;
}
.main-navigation .current-menu-item::after,
.main-navigation .current-menu-ancestor::after{
	content:url(images/asso-on.png);
	position:absolute;
	top:100%;
	left:0;
	right:0;
	text-align:center;
}
.main-navigation .current-menu-item:nth-child(1)::after,
.main-navigation .current-menu-ancestor:nth-child(1)::after{
	content:url(images/news-on.png);
}
.main-navigation .current-menu-item:nth-child(2)::after,
.main-navigation .current-menu-ancestor:nth-child(2)::after{
	content:url(images/jobs-on.png);
}
.main-navigation .current-menu-item:nth-child(3)::after,
.main-navigation .current-menu-ancestor:nth-child(3)::after{
	content:url(images/events-on.png);
}
#site-header-menu ul li a{
	display:inline-block;
	margin:0 0 0 1px;
	padding:0;
	background:#607d8b;
	min-width:115px;
    font-family: 'blanchcaps';
	font-size:4em;
	text-align:center;
	color:#1a2930;
	line-height:250%;
}
#site-header-menu ul li a:hover,
#site-header-menu ul li a:focus{
	text-decoration:none;
	line-height:200%
}
#site-header-menu ul li:nth-child(1) a{
	background:#c6f364;
	color:#65771c;
}
#site-header-menu ul li:nth-child(2) a{
	background:#ff6b6b;
	color:#761414;
}
#site-header-menu ul li:nth-child(3) a{
	background:#00bad1;
	color:#034a53;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a{
	font-weight:normal;
}

/*------------------------------------------------------------------------------------------------------------*/
/*
	= CONTENU CENTRAL
*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------
	== STRUCTURE
------------------------------------------------------------------------------------------------------------*/
#content{
	padding:8.8em 0 0;
}
.logged-in #content{
	padding:5.5em 0 0;
}

/*
	SIDEBAR TOP
*/
#top{
	float:none;
	margin:0;
	padding:0 65px;
	width:auto;
	background:#fff;
	overflow:hidden;
}
#top .widget{
	margin:0;
	float:left;
	width:50%;
}

/*
	SIDEBAR LEFT
*/
#left{
	float:left;
	margin:0;
	width:25%;
}

/*
	CONTENU
*/
#primary{
	float:right;
	margin:0;
	width:70%;
}

/*------------------------------------------------------------------------------------------------------------
	== WIDGETS
------------------------------------------------------------------------------------------------------------*/
.widget h2.widget-title{
	margin:0;
	padding:0 0 0 15px;
    font-family: 'blanchcaps';
	font-size:3.8em;
	line-height:1;
	letter-spacing:normal;
}
.widget > ul,
.widget > div{
	padding:15px;
	background:rgba(255,255,255,0.5);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/*
	JOBS
*/
.widget_recent_jobs{
	color:#ff6b6b;
}
.widget_recent_jobs > ul > li{
	border:none!important;
}
.widget_recent_jobs > ul > li + li::before{
	content:"";
	display:block;
	margin:10px 0;
	width:30px;
	height:1px;
	background:#ff6b6b;
}
.widget_recent_jobs ul li a{
	padding:0!important;
	color:#ff6b6b;
}
.widget_recent_jobs ul li a:hover,
.widget_recent_jobs ul li a:focus{
	background:none!important;
	color:#761414;
}
.widget_recent_jobs ul li h3{
	font-family: 'Open Sans', sans-serif;
	font-size:1.4em!important;
}
.widget_recent_jobs > ul > li ul.meta{
	font-style:italic;
	font-size:1.2em;
}
.widget_recent_jobs > ul > li ul.meta li{
	color:#ff6b6b!important;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.widget_recent_jobs > ul > li a:hover ul.meta li,
.widget_recent_jobs > ul > li a:focus ul.meta li{
	color:#761414!important;
}

/*------------------------------------------------------------------------------------------------------------
	== ARTICLE
------------------------------------------------------------------------------------------------------------*/
article.type-post{
	margin:0;
	background:#fff;
}

/*
	INFOS
*/
article.type-post .entry-infos{
	padding:5px 40px; 
	background:#607D8B;
    font-family: 'blanchcaps';
	font-size:3em;
	color:#fff;
	overflow:hidden;
}
article.type-post .entry-infos a{
	color:#fff;
}
article.type-post .entry-infos span{
	margin:0!important;
}
article.type-post .entry-infos .posted-on{
	float:left;
}
article.type-post .entry-infos .byline{
	float:right;
}

/*
	HEADER
*/
article.type-post .entry-header{
	margin:20px 40px;
}
article.type-post .entry-header h1{
	margin:0;
    font-family: 'blanchcaps';
	font-weight:normal;
	font-size:6em;
	line-height:0.7;
}

/*
	RESUME
*/
article.type-post .entry-summary{
	margin:0 40px!important;
	font-size:1.8em;
	line-height:1.2;
}

/*
	TEXTE
*/
article.type-post .entry-content{
	float:none!important;
	margin:40px 40px 10px!important;
	width:auto!important;
	font-size:1.4em;
}

/*------------------------------------------------------------------------------------------------------------
	== NAVIGATION
------------------------------------------------------------------------------------------------------------*/
nav.navigation{
	margin:0;
	padding:5px 40px; 
	background:#607D8B;
	border:none;
	overflow:hidden;
}
nav.navigation .nav-previous{
	float:left;
}
nav.navigation .nav-next{
	float:right;
	border:none;
}
nav.navigation .meta-nav{
	margin:0;
	text-transform:none;
	color:#fff;
	line-height:1;
	letter-spacing:normal;
}
nav.navigation .post-title{
	position:absolute;
	top:-500000px;
}

/*------------------------------------------------------------------------------------------------------------*/
/*
	= PAGE D'ACCUEIL
*/
/*------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------*/
/*
	= PAGE DE DETAIL D'UN BILLET
*/
/*------------------------------------------------------------------------------------------------------------*/






